<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="mb-3">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a routerLink="/dashboard">Users</a>
    </li>

    <li class="breadcrumb-item">
      <a [routerLink]="['/dashboard/users', userId, 'properties']">
        Properties
      </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">Property Details</li>
  </ol>
</nav>

<h3 class="mb-2">Dashboard - Property Details</h3>
<hr />

<!-- Loading -->
<div *ngIf="isLoading" class="text-center py-5">
  <div class="spinner-border"></div>
</div>

<!-- Content -->
<div *ngIf="!isLoading && property" class="card p-3 p-md-4">
  <div class="row mb-4 align-items-start">
    <div class="col-12 col-md-3 text-center mb-3 mb-md-0">
      <img
        *ngIf="property.propertyImageUrl"
        [src]="property.propertyImageUrl"
        class="img-fluid rounded main-image"
      />
    </div>

    <div class="col-12 col-md-9">
      <h5 class="fw-semibold mb-2 text-sm-start text-md-start">
        {{ property.title }}
      </h5>

      <p class="text-muted mb-3 text-sm-start text-md-start">
        ₹ {{ property.price | number }}
      </p>

      <div class="row small mb-4">
        <div class="col-6 col-md-3 mb-2">
          <strong>City:</strong> {{ property.city }}
        </div>

        <div class="col-6 col-md-3 mb-2">
          <strong>State:</strong> {{ property.state }}
        </div>

        <div class="col-6 col-md-3 mb-2">
          <strong>Locality:</strong> {{ property.locality }}
        </div>

        <div class="col-6 col-md-3 mb-2">
          <strong>Pincode:</strong> {{ property.pincode }}
        </div>

        <div class="col-6 col-md-3 mb-2">
          <strong>No. of rooms:</strong> {{ property.noOfRooms }}
        </div>

        <div class="col-6 col-md-3 mb-2">
          <strong>Carpet area:</strong> {{ property.carpetAreaSqft }} sqft.
        </div>

        <div class="col-6 col-md-3 mb-2">
          <strong>Built year:</strong> {{ property.builtYear }}
        </div>

        <div class="col-6 col-md-3 mb-2">
          <strong>Balcony:</strong> {{ property.balcony ? "Yes" : "No" }}
        </div>

        <div class="col-6 col-md-3 mb-2">
          <strong>Parking:</strong> {{ property.parking ? "Yes" : "No" }}
        </div>
      </div>

      <div class="row">
        <h5 class="mb-3">Property Images</h5>

        <div class="row text-center">
          <div
            class="col-6 col-sm-4 col-md-2 mb-3 text-center"
            *ngIf="property.hallImageUrl"
          >
            <img
              [src]="property.hallImageUrl"
              class="img-fluid rounded sub-image"
            />
            <small class="d-block mt-1">Living Room</small>
          </div>

          <div
            class="col-6 col-sm-4 col-md-2 mb-3 text-center"
            *ngIf="property.kitchenImageUrl"
          >
            <img
              [src]="property.kitchenImageUrl"
              class="img-fluid rounded sub-image"
            />
            <small class="d-block mt-1">Kitchen</small>
          </div>

          <div
            class="col-6 col-sm-4 col-md-2 mb-3 text-center"
            *ngIf="property.bathroomImageUrl"
          >
            <img
              [src]="property.bathroomImageUrl"
              class="img-fluid rounded sub-image"
            />
            <small class="d-block mt-1">Bathroom</small>
          </div>

          <div
            class="col-6 col-sm-4 col-md-2 mb-3 text-center"
            *ngIf="property.bedroomImageUrl"
          >
            <img
              [src]="property.bedroomImageUrl"
              class="img-fluid rounded sub-image"
            />
            <small class="d-block mt-1">Bedroom</small>
          </div>

          <div
            class="col-6 col-sm-4 col-md-2 mb-3 text-center"
            *ngIf="property.parkingImageUrl"
          >
            <img
              [src]="property.parkingImageUrl"
              class="img-fluid rounded sub-image"
            />
            <small class="d-block mt-1">Parking</small>
          </div>

          <div class="d-none d-md-block">
            <div class="mt-2 text-center text-md-start">
              <button class="btn btn-primary" (click)="onEditProperty()">
                Edit Property
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-block d-md-none">
      <div class="mt-2 text-center text-md-start">
        <button class="btn btn-primary w-100" (click)="onEditProperty()">
          Edit Property
        </button>
      </div>
    </div>
  </div>
</div>
