<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card p-4 shadow" style="width: 30%">
    <h4 class="text-center mb-3">Login</h4>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Enter username"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Enter password"
        />
      </div>

      <button
        type="submit"
        class="btn btn-dark w-100"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>

      <div class="text-center mt-3">
        <a routerLink="/register">Create account</a>
      </div>
    </form>
  </div>
</div>
