<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card p-4 shadow" style="width: 30%">
    <h4 class="text-center mb-3">Create Account</h4>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="mb-3">
        <label class="form-label"
          >Email
          <span
            class="text-danger"
            *ngIf="
              registerForm.get('username')?.invalid &&
              registerForm.get('username')?.touched
            "
            style="font-size: 10px"
            >Email is required</span
          ></label
        >
        <input
          type="email"
          class="form-control"
          formControlName="username"
          placeholder="Enter email"
        />
      </div>

      <div class="mb-3">
        <label class="form-label"
          >Password
          <span
            class="text-danger"
            *ngIf="
              registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched
            "
            style="font-size: 10px"
            >Password is required</span
          ></label
        >
        <p style="font-size: 10px">
          (Password must be min. 6 characters & must contain uppercase,
          lowercase, number & special character)
        </p>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Enter password"
        />
      </div>

      <button
        type="submit"
        class="btn btn-dark w-100"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>

      <div class="text-center mt-3">
        <a routerLink="/login">Already have an account?</a>
      </div>
    </form>
  </div>
</div>
