<footer class="footer bg-dark text-light py-3 mt-auto">
  <div
    class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-2"
  >
    <div class="text-center text-md-start">
      <span>&copy; 2026 Property Management</span>
    </div>

    <div class="text-center text-md-middle">
      <span>Developed by Rajat Jadhav</span>
    </div>

    <div class="d-flex gap-3">
      <a
        href="https://github.com/hackcoder21"
        target="_blank"
        class="text-light"
      >
        <i class="bi bi-github"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/hackcoder21/"
        target="_blank"
        class="text-light"
      >
        <i class="bi bi-linkedin"></i>
      </a>

      <a href="mailto:Jadhavrajat1998@gmail.com" class="text-light">
        <i class="bi bi-envelope"></i>
      </a>

      <a
        href="https://www.instagram.com/hack__coder/"
        target="_blank"
        class="text-light"
      >
        <i class="bi bi-instagram"></i>
      </a>

      <a href="https://wa.me/919765647808" target="_blank" class="text-light">
        <i class="bi bi-whatsapp"></i>
      </a>
    </div>
  </div>
</footer>
