<h2>Dashboard - Users</h2>
<hr />

<!-- Loading -->
<div *ngIf="isLoading" class="text-center">
  <div class="spinner-border"></div>
</div>

<!-- Empty state -->
<div
  *ngIf="!isLoading && users.length === 0"
  class="text-center p-5 border rounded"
>
  <h5>No users</h5>
  <button class="btn btn-primary mt-3" (click)="onCreateUser()">
    Create User
  </button>
</div>

<!-- Users table -->
<div *ngIf="!isLoading && users.length > 0">
  <button class="btn btn-primary mb-3" (click)="onCreateUser()">
    + Create User
  </button>

  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Actions</th>
        <th>Download Report</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button
            class="btn btn-sm btn-primary me-2"
            (click)="onViewProperties(user.id)"
          >
            View Properties
          </button>
          <button class="btn btn-sm btn-danger" (click)="onDeleteUser(user.id)">
            Delete
          </button>
        </td>
        <td>
          <div class="position-relative">
            <button
              class="btn btn-sm btn-secondary d-flex align-items-center justify-content-center report-btn"
              [disabled]="downloadingReportPerUserId === user.id"
              (click)="toggleDropdown(user.id)"
            >
              <span *ngIf="downloadingReportPerUserId !== user.id"
                >Download Report</span
              ><span *ngIf="downloadingReportPerUserId === user.id">
                <span class="spinner-border spinner-border-sm"></span>
              </span>
            </button>

            <div
              *ngIf="
                activeDropdownUserId === user.id &&
                downloadingReportPerUserId !== user.id
              "
              class="dropdown-menu show mt-1"
            >
              <button
                class="dropdown-item"
                (click)="downloadReport(user.id, 'excel')"
              >
                Excel
              </button>
              <button
                class="dropdown-item"
                (click)="downloadReport(user.id, 'pdf')"
              >
                PDF
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
