/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  overflow: hidden;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #fff;
  padding: 1rem;
}

.page-center {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-responsive {
  overflow-x: auto;
}

@media (max-width: 576px) {
  .app-content {
    padding: 0.75rem;
  }
}
