USE [PMDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPortfolioData]    Script Date: 21-11-2025 22:14:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************
** Title        :   dbo.sp_GetPortfolioData

** Description  :   Get data for property portfolio report by passing user Id

** Usage        :   EXEC [dbo].[sp_GetPortfolioData] 
                        @UserId = 'CE4E7F62-3E3A-4909-25ED-08DE24E297F6'
******************************************************************************************************************/
ALTER PROCEDURE [dbo].[sp_GetPortfolioData]
(
    @UserId UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Variables
    DECLARE @PortfolioValue DECIMAL(18,2);
    DECLARE @TotalProperties INT;
    DECLARE @TotalCarpetArea FLOAT;
    DECLARE @AveragePropertyValue DECIMAL(18,2);
    DECLARE @AveragePricePerSqft DECIMAL(18,2);
    DECLARE @OldestYear INT;
    DECLARE @NewestYear INT;
    DECLARE @Owner NVARCHAR(200);
    DECLARE @Email NVARCHAR(200);
    DECLARE @Description NVARCHAR(MAX);

    DECLARE @HighestShare DECIMAL(5,2);
    DECLARE @PropertyWord NVARCHAR(20)

    -- Output 1: KPIs 
    DECLARE @portfolioDataTable TABLE (
        [Key] NVARCHAR(100),
        [Value] NVARCHAR(MAX)
    );

    SELECT
        @Owner = FullName,
        @Email = Email
    FROM dbo.Users WHERE Id = @UserId;

    SELECT 
        @PortfolioValue = ISNULL(SUM(Price), 0),
        @TotalProperties = COUNT(*),
        @TotalCarpetArea = ISNULL(SUM(CAST(CarpetAreaSqft AS FLOAT)), 0),
        @AveragePropertyValue = 
            CASE 
                WHEN COUNT(*) = 0 THEN 0 
                ELSE CAST(ROUND(ISNULL(SUM(Price),0) / COUNT(*), 2) AS DECIMAL(18,2)) 
            END,
        @AveragePricePerSqft = 
            CASE 
                WHEN ISNULL(SUM(CarpetAreaSqft), 0) = 0 THEN 0
                ELSE CAST(ROUND(ISNULL(SUM(Price),0) / NULLIF(SUM(CAST(CarpetAreaSqft AS FLOAT)),0), 2) AS DECIMAL(18,2))
            END,
        @OldestYear = CASE WHEN COUNT(*) = 0 THEN NULL ELSE MIN(BuiltYear) END,
        @NewestYear = CASE WHEN COUNT(*) = 0 THEN NULL ELSE MAX(BuiltYear) END
    FROM dbo.Properties
    WHERE UserId = @UserId;

    INSERT INTO @portfolioDataTable([Key], [Value])
    VALUES
    ('portfolioValue', FORMAT(@PortfolioValue, 'N2')),
    ('totalProperties', CAST(@TotalProperties AS NVARCHAR(50))),
    ('totalCarpetArea', CAST(@TotalCarpetArea AS NVARCHAR(50))),
    ('averagePropertyValue', FORMAT(@AveragePropertyValue, 'N2')),
    ('averagePricePerSqft', FORMAT(@AveragePricePerSqft, 'N2')),
    ('oldestYear', COALESCE(CAST(@OldestYear AS NVARCHAR(50)), 'N/A')),
    ('newestYear', COALESCE(CAST(@NewestYear AS NVARCHAR(50)), 'N/A')),
    ('owner', @Owner),
    ('email', @Email);

    -- Output 2: Chart
    DECLARE @chartDataTable TABLE (
        PropertyId UNIQUEIDENTIFIER,
        Title NVARCHAR(500),
        Price DECIMAL(18,2),
        SharePercent DECIMAL(5,2)
    );

    ;WITH SortedProperties AS
    (
        SELECT
            P.Id AS PropertyId,
            P.Title AS Title,
            P.Price AS Price,
            CAST(ROUND((P.Price / NULLIF(@PortfolioValue, 0)) * 100.0, 2) AS DECIMAL(5, 2)) AS SharePercent
        FROM dbo.Properties P
        WHERE P.UserId = @UserId
    ),
    Top3 AS 
    (
        SELECT TOP 3 *
        From SortedProperties
        ORDER BY Price DESC
    ),
    Others AS 
    (
        SELECT
            NULL AS PropertyId,
            'Others' AS Title,
            SUM(Price) AS Price,
            CAST(SUM(SharePercent) AS DECIMAL(5,2)) AS SharePercent
        FROM SortedProperties
        WHERE PropertyId NOT IN (SELECT PropertyId FROM Top3) AND (SELECT COUNT(*) FROM SortedProperties) > 3
    )
    INSERT INTO @chartDataTable
    SELECT * FROM Top3
    UNION ALL
    SELECT * FROM Others WHERE (SELECT COUNT(*) FROM SortedProperties) > 3;

    SELECT TOP 1 @HighestShare = SharePercent
    FROM @chartDataTable
    ORDER BY SharePercent DESC;

    SELECT @PropertyWord = CASE WHEN @TotalProperties = 1 THEN 'property' ELSE 'properties' END;

    SET @Description = 
        @Owner + ' owns ' + CAST(@TotalProperties AS NVARCHAR) + ' ' + @PropertyWord +
        ' with a total carpet area of ' + FORMAT(@TotalCarpetArea, 'N0') + ' sqft. ' +
        N'The portfolio value is ₹' + FORMAT(@PortfolioValue, 'N0') +
        N' with an average price per sqft of ₹' + FORMAT(@AveragePricePerSqft, 'N0') + '. ' +
        'The newest property was built in ' + CAST(@NewestYear AS NVARCHAR) +
        ', while the oldest was built in ' + CAST(@OldestYear AS NVARCHAR) + '. ' +
        'The highest property share is ' + CAST(@HighestShare AS NVARCHAR) + '%.';

    INSERT INTO @portfolioDataTable([Key], [Value])
    VALUES ('description', @Description);

    -- Final KPI output
    SELECT [Key], [Value] FROM @portfolioDataTable;

    -- Final chart output
    SELECT * FROM @chartDataTable ORDER BY Price DESC;
END