USE [PMDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPropertyData]    Script Date: 21-11-2025 19:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************
** Title        :   dbo.sp_GetPropertyData

** Description  :   Get data for property portfolio report by passing user Id

** Usage        :   EXEC [dbo].[sp_GetPropertyData] 
                        @UserId = 'CE4E7F62-3E3A-4909-25ED-08DE24E297F6'
******************************************************************************************************************/
ALTER PROCEDURE [dbo].[sp_GetPropertyData]
(
    @UserId UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Output 1: Table
    SELECT
        P.Id AS PropertyId,
        P.UserId AS UserId,
        P.Title AS Title,
        CONCAT(P.Locality, ', ', P.City, ', ', P.State, ' - ', P.Pincode) AS Address,
        P.Price AS Price,
        P.NoOfRooms AS NoOfRooms,
        P.CarpetAreaSqft AS CarpetAreaSqft,
        P.BuiltYear,
        CASE 
            WHEN P.Balcony = 1 AND P.Parking = 1 THEN 'Balcony, Parking'
            WHEN P.Balcony = 1 AND P.Parking = 0 THEN 'Balcony'
            WHEN P.Balcony = 0 AND P.Parking = 1 THEN 'Parking'
            ELSE 'No Balcony or Parking'
        END AS Features,
        P.PropertyImageUrl,
        P.HallImageUrl,
        P.KitchenImageUrl,
        P.BathroomImageUrl,
        P.BedroomImageUrl,
        P.ParkingImageUrl
    FROM dbo.Properties P
    WHERE P.UserId = @UserId;
END